<div class='svd-content-container'>
  <h1>TrayDir</h1>
  <p>TrayDir is a neat little program intended for Windows use.</p>
  <p>Its main use is for programming situations where you would like quick access to a script to run. Something as simple as 'run task' or 'change ip'. This little tool will allow you to have quick access to anything you would like.</p>
  <p></p>
  <h3>Download</h3>
  <a href='https://drive.google.com/uc?export=download&id=1TzOdVk02QejlOHDyvJ2ORfOGJSKnn0cM' download>
  <div class='download-group'>
    <img src='assets/img/TrayDir.png' style='height: 100%;padding-right:20px;'>
    <h1>TrayDir v1.0.5.3</h1>
  </div>
  </a>
  <p></p>
  <h3>Example</h3>
  <p>Let's say I have a folder that I use for running all sorts of scripts. Some related to changing my IP, some related to web development, and another that I use for fun.</p>
  <div class='align-center'>
    <img src='assets/img/TrayDir_example_01.png' style='min-width:50%;max-width:80%;'>
    <p>Figure 1: Folder Structure</p>
  </div>
  <p>I want easy access to this folder to be able to run different programs. This sort of thing happens in everyday dev work.</p>
  <p>All you have to do is run the program, point it to the folder you would like access to, and TADA! The folder will be easily accessible from your system tray.</p>
  <div class='align-center'>
    <img src='assets/img/TrayDir_example_05.png' style='min-width:50%;max-width:80%;'>
    <p>Figure 2: Program Setup</p>
  </div>
  <div class='align-center'>
    <img src='assets/img/TrayDir_example_02.png' style='min-width:50%;max-width:80%;'>
    <p>Figure 3: Tray Icon</p>
  </div>
  <div class='align-center'>
    <img src='assets/img/TrayDir_example_03.png' style='min-width:50%;max-width:80%;'>
    <p>Figure 4: Popup Menu</p>
  </div>
  <p></p>
</div>