.download-group {
    display:flex;
    border-radius: 15px;
    border: 2px solid #afafaf;
    padding-top: 20px; 
    padding-bottom: 20px; 
    padding-left: 5%; 
    background: #dfdfdf;
    width: 95%;
    height: 100px;
}