<div class="navbar-border theme-color-box">
  <div class="navbar navbar-block theme-color-box">
    <input type="checkbox" id="nav" [checked]="showMenu" (change)="showMenu = !showMenu" />
    <label class='float-right' for="nav">
      <i class="icon fa fa-lg fa-bars"></i>
    </label>
    <div class='navbar-flex float-left navbar-collapsible theme-color-box'>
      <a routerLink="/" class='navbar-main'>samver</a>
      <ul class="theme-color-box">
        <a routerLink="/" (click)='closeMenu()'>
          <li>Home</li>
        </a>
        <a routerLink="/about" (click)='closeMenu()'>
          <li>About</li>
        </a>
        <a routerLink="/TrayDir" (click)='closeMenu()'>
          <li>TrayDir</li>
        </a>
      </ul>
    </div>
    <div class='navbar-flex navbar-hide float-right theme-color-box'>
      <svd-social-media-header></svd-social-media-header>
    </div>
  </div>
</div>