<div class="navbar-border">
  <div class='navbar navbar-flex navbar-dark border-2px'>
    <a routerLink="/" class='navbar-main'>samver</a>
    <div class="navbar-flex-right navbar-dark">
      <input type="checkbox" id="nav" [checked]="showMenu" (change)="showMenu = !showMenu"/><label for="nav"></label>
      <div class="navbar-collapsible navbar-flex-right navbar-dark border-2px">
        <ul>
          <a routerLink="/" (click)='closeMenu()'><li>Home</li></a>
          <a routerLink="/about" (click)='closeMenu()'><li>About</li></a>
          <a routerLink="/TrayDir" (click)='closeMenu()'><li>TrayDir</li></a>
        </ul>
      </div>
    </div>
  </div>
</div>