<div class='svd-content-container'>
  <h1>About Me</h1>
  <img class='rounded float-left small-img' src="https://samuelsvd.files.wordpress.com/2018/06/dsc_92511.jpg" />
  <p>My name is Samuel Vergara, but you can call me Sam. I am a software developer, an artist, a CAD modeler, and more.
    I studied Mechatronics Engineering at McMaster University and graduated in May 2018. On my spare time I enjoy
    designing, programming, building, assembling, and more. I like to apply the knowledge learned at McMaster and
    outside in creative ways, hopefully creating something exciting along the way.</p>
  <p>One of the applications I chose to approach was programmatic art generation. This allowed me to create art through
    programming means and it allowed me to expand on topics I have covered in school. My current works are created with
    java as well as the processing java library. See <a
      href="https://samuelsvd.wordpress.com/graphics/">Graphics</a> for more info.</p>
  <p>Aside from software and art, I also enjoy working with robotics and embedded systems. As an example, I worked
    alongside a team to develop a robot that would help automate the roofing industry. The robot's purpose was to
    re-shingle roofs with asphalt shingles.</p>
  <p>See <a href="https://samuelsvd.wordpress.com/roboroof/">RoboRoof</a> for more info on this project.</p>
  <p>Recently I have started working on a tabletop wire stripper that cuts wires at a desired length, with the ends
    already stripped for use in DIY electronics projects.</p>
  <p>That is all about me so far. If there's anything else you are curious about feel free to comment and ask! I would
    love to answer more about myself!</p>
  <p>email: sam.svd95@gmail.com</p>
</div>