<div class="svd-content-container">
  <h1>About samver</h1>
  <img class="rounded float-left small-img" src="../../assets/img/about.JPG" />
  <p>
    My name is Samuel Vergara, but you can call me Sam. I am an individual who
    specializes in software development, but I also dabble in 3D modelling
    (CAD), electrical design, music, and art. I graduated from McMaster
    University with a degree in Mechatronics Engineering,
    <em>Summa Cum Laude</em> and I'm in constant search of future endeavours.
  </p>
  <p>
    During my spare time I enjoy designing and programming all sorts of software
    tools like small programs to automate small taks, or larger frameworks to
    streamline a development process. I like to take an active approach towards
    making tasks easier.
  </p>
  <p>
    One of the personal projects I've spent lots of time on is a programmable
    art generation program. I've been working on adding a front end to make it a
    desktop application for design and use by others without programming
    experience. My plan was to make something similar to Adobe Illustrator, but
    with more programmable control, and functional animations in mind. My
    current works are created with the java programming language using the
    processing java library. If you're interested in following the progress of
    this program, check out
    <a href="https://samuelsvd.wordpress.com/graphics/">SamverUI</a> for more
    info.
  </p>
  <p>
    Aside from software and art, I also enjoy working with robotics and embedded
    systems. As an example, I worked alongside a team to develop a robot that
    would help automate the roofing industry. The robot's purpose was to
    re-shingle roofs with asphalt shingles, and it served its purpose as a
    proof-of-concept. See
    <a href="https://samuelsvd.wordpress.com/roboroof/">RoboRoof</a> for more
    information on this project. CALM is another project I worked on where we
    created a smart pill dispensing unit to help in the medical industry. I will
    add more information on that later.
  </p>
  <p>
    Do you have an idea in mind and you're looking for someone to talk
    to about it? I can help you define the idea, or even help come up with a
    sample design!
  </p>
  <p>
    That is all about me so far. If there's anything else you are curious about,
    feel free to contact me and ask! I do commission work and would love to
    answer more about myself!
  </p>
  <p>Thanks!</p>
  <p>email: svergara@samver.ca</p>
</div>
