<div class='flex'>
    <img src="assets/img/database.png" style="width: 60px;" />
    <span class='header'>{{ Program.ProgramName }}</span>
</div>
<br />
<p>{{ Program.ShortDescription }}</p>
<p></p>
<hr />
<a class="button theme-color-box theme-color-box-hover" href="{{ VersionInfo.URL }}" download>
    <i class='icon fa fa-windows'></i>
    <span class='version'>Download {{ VersionInfo.Version }}</span>
</a>
<a class="button theme-color-box theme-color-box-hover" href="https://github.com/SamuelSVD/QuickDBAccess">
    <i class='icon fa fa-github'></i>
    <span class='version'>See project on GitHub</span>
</a>
<hr />

