<!--
<h1>Angular</h1>
<courses></courses>
<course></course>
<br/>
<favourite [is-favourite]='true' (change)='onFavouriteChanged($event)'></favourite>
<favourite [is-favourite]='true' (change)='onFavouriteChanged($event)'></favourite>
<favourite [is-favourite]='true' (change)='onFavouriteChanged($event)'></favourite>
<favourite [is-favourite]='true' (change)='onFavouriteChanged($event)'></favourite>
<favourite [is-favourite]='true' (change)='onFavouriteChanged($event)'></favourite>
<svd-panel>
    <div class="heading">
        head
    </div>
    <div class="body">
        body
    </div>
</svd-panel>
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
    List of Courses
</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template>
<contact-form></contact-form> 
-->

<!--
A reactive form
<signup-form></signup-form>
-->

<newcourseform></newcourseform>