.galleryItem {
    flex-grow: 1;
    max-width: 300px;
    min-width: 300px;
    min-height: 150px;
    padding: 5px;
    border-radius: 5px;
    border:solid;
    border-color: lightgray;
    border-width: 1px;
    margin: 5px;
    box-shadow: 4px 4px 5px 1px rgb(214, 214, 214);
}
.bg {
    width: 100%;
    height: 150px;
    display: inline-block;
}
img {
    width:100%;
}
