.svd-container {
	position: relative;
	min-height: 100vh;
	font-family:"Helvetica";
}
.svd-content {
	padding-bottom: 4.8rem;
}
.svd-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 2.5rem;
}