<h1>NPPE - Useful Resources</h1>
<p>While reviewing the <a href='https://www.peo.on.ca/sites/default/files/2020-06/NPPE-Syllabus.pdf'>NPPE syllabus</a>, I decided it would be a good idea to create a culminized list of resources for when needing to review content in the future, and for sharing with others wanting to prepare for the NPPE. I used the sections included in the syllabus as the format in which to organize the resources below. Please note that these resources may one day be outdated, and are written from the prespective of an individual in Ontario. There is no guarantee this page will be complete coverage of the content in the NPPE.</p>
<h2>I - Professionalism</h2>
<p>TBD</p>
<h2>II - Ethics</h2>
<p>TBD</p>
<h2>III - Professional Practice</h2>
<p>TBD</p>
<h2>IV - Law for Professional Practice</h2>
<h3>IV.1 - The Canadian Legal System</h3>
<p>TBD</p>
<h3>IV.2 - Contract Law - Elements Principles, and Applications</h3>
<ul>
    <li><a href='https://ca.practicallaw.thomsonreuters.com/w-006-5761?transitionType=Default&contextData=(sc.Default)&firstPage=true'>Quantum Meruit</a></li>
</ul>
<h3>IV.3 - Tort Law - Elements Principles, and Applications</h3>
<p>Definition of <a href='https://en.wikipedia.org/wiki/Tort'>Torts</a></p>
<p>Types of torts:</p>
<ul>
    <li>Negligence</li>
    <li>Trespass</li>
    <li>Nuisance <a href='https://www.lawteacher.net/cases/rylands-v-fletcher.php'>(Rylands v Fletcher)</a></li>
    <li>Defamation</li>
</ul>
<h3>IV.4 - Civil Law in Quebec</h3>
<p>TBD</p>
<h3>IV.5 - Business, Employment, and Labour Law</h3>
<h4>Employment</h4>
<ul>
    <li><a href='https://www.ontario.ca/laws/statute/00e41'>Employee Standards Act, 2000, S.O. 2000, c. 41</a></li>
    <li><a href='https://duttonlaw.ca/independent-contractor-vs-employee-ontario/'>Contractor vs Employee</a></li>
    <li><a href='https://www.ontario.ca/document/your-guide-employment-standards-act-0/overtime-pay'>Overtime Pay</a></li>
</ul>
<h3>IV.6 - Dispute Resolution</h3>
<p>TBD</p>
<h3>IV.7 - Intellectual Property and Intellectual Property Issues</h3>
<h4>Intellectual property</h4>
<ul>
    <li><a href='http://www.ic.gc.ca/eic/site/cipointernet-internetopic.nsf/eng/h_wr03652.html'>Patents</a></li>
    <li><a href='http://www.ic.gc.ca/eic/site/cipointernet-internetopic.nsf/eng/h_wr02300.html'>Industrial Design</a></li>
    <li><a href='http://www.ic.gc.ca/eic/site/cipointernet-internetopic.nsf/eng/h_wr02281.html'>Copyright</a></li>
    <li><a href='http://www.ic.gc.ca/eic/site/cipointernet-internetopic.nsf/eng/h_wr02360.html'>Trademarks</a></li>
</ul>
<h4>Intellectual Property Issues</h4>
<p>Due to working with software often in engineering, it is important to note that software is considered a piece of literature and as such it should be handled as literature under copyright (see "computer programs" in Patents links).</p>
<h4>Assignment and Licensing</h4>
<p>TBD</p>
<p>Consultant vs Employee</p>
<p>TBD</p>
<h3>IV.8 - Expert Witness</h3>
<p>TBD</p>
<h3>IV.9 - Bonds and Construction Liens</h3>
<p>TBD</p>
<h3>IV.10 - International Law</h3>
<p>TBD</p>
<h3>IV.11 - Environmental Law</h3>
<p>TBD</p>
<h3>IV.12 - Workers Compensation and Occupational Health & Safety</h3>
<p>TBD</p>
<h3>IV.13 - Human Rights and Privacy Legislation</h3>
<p>TBD</p>
<h3>IV.14 - Further Areas of Law</h3>
<p>TBD</p>
<h2>V - Professional Law</h2>
<h3>V.1 - The Acts, Regulations, and Bylaws of Provincial and Territorial Associations</h3>
<p>TBD</p>
<h3>V.2 - Admission to the Professions</h3>
<p>TBD</p>
<h3>V.3 - Illegal Practice, Enforcement Against Unlicensed Practice, and Misuse of Title</h3>
<p>TBD</p>
<h3>V.4 - Professional and Technical Societies</h3>
<p>TBD</p>
<h2>VI - Regulation of Members & Discipline Processes</h2>
<h3>VI.1 - Discipline Procedures</h3>
<p>TBD</p>
<h3>VI.2 - Practice Review of Individuals</h3>
<p>TBD</p>
<h3>VI.3 - Practice Review of Firms</h3>
<p>TBD</p>
<h3>VI.4 - Continuing Professional Development</h3>
<p>TBD</p>
<h2>Additional Links and Resources</h2>
<p>I either had a difficult time figuring out where to place these resources, found that they were relevant to multiple sections, thought they should just be important things to know, or I just haven't got around to categorizing them.</p>
<ul>
    <li><a href='https://www.apega.ca/docs/default-source/pdfs/rbc-professionalism.pdf'>RBC - The Soul of Professionalism</a></li>
    <li><a href='https://www.qp.alberta.ca/documents/Acts/E11.pdf'>Engineering and Geoscience Profession Act - Revised Statutes of Alberta 2000</a></li>
    <li><a href='https://www.apega.ca/docs/default-source/pdfs/professionalism.pdf'>APEGA - Concepts of Professionalism</a></li>
    <li><a href='https://www.apega.ca/docs/default-source/pdfs/ethical-practice.pdf'>APEGA - Guideline for Ethical Practice</a></li>
    <li><a href='https://www.peo.on.ca/sites/default/files/2019-07/UseofProfessionalEngineerSeal.pdf'>PEO - Use of Professional Engineer Seal</a></li>
</ul>
