<h1>Art</h1>
<p>I like to dabble in creating digital art. I have used processing to create animations to creating 3D models in Fusion
    360 and
    rendering them as aesthetically pleasing as I can. Original renders are available for free below!</p>
<p>Feel free to
    visit me on my instagram page <a href='https://instagram.com/SamuelSVD'>&#64;SamuelSVD</a>.</p>

<h2>Render Gallery</h2>
<div class='gallery'>
    <svd-gallery-cell *ngFor="let item of galleryItems" [href]="item.href" [alt]="item.alt"></svd-gallery-cell>
</div>
<br>
<br>