<div class='flex'>
  <img src="assets/img/TrayDir.png" style="width: 60px;"/>
  <span class='header'>{{ Program.ProgramName }}</span>
</div>
<br/>
<p>{{ Program.ShortDescription }}</p>
<p></p>
<hr />
<a class="button theme-color-box theme-color-box-hover" href="{{ VersionInfo.URL }}" download>
  <i class='icon fa fa-windows'></i>
  <span class='version'>Download v{{ VersionInfo.Version }}</span>
</a>
<hr />
<h3>Example</h3>
<p>
  Let's say I have a folder that I use for running all sorts of scripts. Some
  related to changing my IP, some related to web development, and another that I
  use for fun.
</p>
<div class="align-center">
  <img
    src="assets/img/TrayDir_example_01.png"
    class="example-image"
  />
  <p>Figure 1: Folder Structure</p>
</div>
<p>
  I want easy access to this folder to be able to run different programs. This
  sort of thing happens in everyday dev work.
</p>
<p>
  All you have to do is run the program, point it to the folder you would like
  access to, and TADA! The folder will be easily accessible from your system
  tray.
</p>
<div class="align-center">
  <img
    src="assets/img/TrayDir_example_05.png"
    class="example-image"
  />
  <p>Figure 2: Program Setup</p>
</div>
<div class="align-center">
  <img
    src="assets/img/TrayDir_example_02.png"
    class="example-image"
  />
  <p>Figure 3: Tray Icon</p>
</div>
<div class="align-center">
  <img
    src="assets/img/TrayDir_example_03.png"
    class="example-image"
  />
  <p>Figure 4: Popup Menu</p>
</div>
<p></p>
