<div class='flex'>
  <img src="assets/img/TrayDir.png" style="width: 60px;" />
  <span class='header'>{{ Program.ProgramName }}</span>
</div>
<br />
<p>{{ Program.ShortDescription }}</p>
<p></p>
<hr />
<div class="flex-container">
<a class="button theme-color-box theme-color-box-hover" href="{{ VersionInfo.URL }}" download>
  <i class='icon fa fa-windows'></i>
  <span class='version'>Download {{ VersionInfo.Version }}</span>
</a>
<a class="button theme-color-box theme-color-box-hover" href="https://github.com/SamuelSVD/TrayDir" download>
  <i class='icon fa fa-github'></i>
  <span class='version'>See project on GitHub</span>
</a>
</div>
<hr />

<h2>Getting Started</h2>
<p>When you first open up TrayDir you are greeted with the default new instance. At the top you will find five buttons corresponding with the following functions:</p>
<ul>
<li>New File: Inserts a new file menu item</li>
<li>New Folder: Inserts a new folder menu item</li>
<li>New Plugin: Inserts a new plugin menu item</li>
<li>New Virtual Folder: Inserts a new virtual folder menu item</li>
<li>New Separator: Inserts a separator item that displays as a horizontal bar</li>
</ul>
<h3>What is the System Tray?</h3>
<p>The system tray is the list of items at the bottom right of your windows task bar. In most cases, this is where the time, date, Wi-Fi connection, and other settings are displayed.</p>
<h3>Modifying TrayDir</h3>
<p>You can modify TrayDir and add corresponding links by clicking on New File at the top. This will result in a new file item being added to the list of items, and begins browsing for a file in your file system. When you select a file, this file will appear in the righ-click menu of TrayDir in the System Tray</p>
<p>If you hover over the TrayDir icon in the system tray, you will notice that it is named "New Instance". This name can be modified by clicking on the top menu, <code>Instance > Edit Name</code>.</p>
<p>If you right click on the TrayDir icon in the system tray, you will be greeted by the Tray Menu, containing the file item that you added to the list. When clicked, this file will be opened as if you had selected it directly through a File Explorer window.</p>
<h3>Adding New Instances</h3>
<p>In case you want a new icon in the system tray for a separate set of items, either click on the <code>+</code> beside the New Instance name or click on the menu <code>Instance > New</code>. From here you should be able to select the new instance in a new named tab near the top of the form, and see the new icon in the system tray.</p>

<h3>Creating New Instances</h3>
You can create a new instance by clicking on the + tab, or by clicking on Instance | New from the menu bar
<h2>Example - Link to PC Games!</h2>
<p>
  Below we have an example of an instance named <code>My Games</code>. It contains a link to a folder, and a virtual folder
  with two file links inside.
</p>
<figure class="align-left">
  <img src="/assets/img/TrayDir_example_gamesinstance.png"
    class="example-image" />
  <figcaption>My Games - Folder Structure</figcaption>
</figure>

<p>This <code>My Games</code> instance is configured with a yellow G as the icon to use in the system tray.</p>
<figure class="align-left">
  <img src="/assets/img/TrayDir_example_gamesinstanceoptions.png"
    class="example-image" />
  <figcaption>My Games - Instance Options</figcaption>
</figure>
<p>
When we hover the cursor over the icon in the system menu, you can see the instance name, <code>My Games</code>. Notice there is another icon in the system tray for the <code>Work</code> instance.
</p>
<figure>
  <img src="/assets/img/TrayDir_example_hover.png"
    class="example-image" />
  <figcaption>My Games - Name & Icon</figcaption>
</figure>
<p>And when you right-click the tray menu, the same item structure appears as it appeared in the main window. Clicking on the items here will open the files.</p>
<figure>
  <img src="/assets/img/TrayDir_example_menu.png"
    class="example-image" />
  <figcaption>My Games - System Menu</figcaption>
</figure>
<p>The folders can also be expanded, so if you add a folder item TrayDir will automatically expand them for you to have quick access.<br/>All subfolders will be accessible, since they keep on expanding further as required.</p>
<figure>
  <img src="/assets/img/TrayDir_example_menufolder.png"
    class="example-image" />
  <figcaption>My Games - System Menu (Folder)</figcaption>
</figure>