/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

.svd-content-container {
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.align-center {
    text-align: center;
}