<img class="rounded float-left small-img" src="../../assets/img/about.JPG" />
<div>
<h1>Sam Vergara, P.Eng</h1>
<p>
  Hello! I'm Sam Vergara, a passionate software developer who also dabbles in the exciting worlds of 3D modeling, music, and digital art.
  I proudly hold a Bachelor of Engineering degree in Mechatronics Engineering from McMaster University, and I'm always on the lookout for exciting future challenges to conquer! 😄🚀
</p>
<p>
  In my free time, I code a variety of software tools, ranging from small scripts or applications that automate everyday tasks to tools that enhance and improve my daily workflow.
  I'm an enthusiastic advocate for streamlining processes and making tasks effortless and manageable.
</p>
<p>
  I've undertaken numerous personal projects, spanning from custom robots to developing digital art programs.
  You will find some of my custom tools in this site, including <a href="./TrayDir">TrayDir</a> and <a href="./QuickDBAccess">Quick DB Access</a>.
</p>
<p>  TrayDir is a handy tool, designed to enhance the Windows user experience (apologies to our Mac and Linux friends) by providing users with easy access to folders, files, programs, and more directly from the system tray.
</p>
<p>  Quick DB Access is an awesome tool I've written and it's purpose is to provide a simple configurable front end to a database. This tool will be particularly valuable for those who, like me, work with and have an expertise with databases. 
</p>
<p>
  Do you have a brilliant software concept, and are you seeking a like-minded individual to brainstorm with? Don't hesitate to drop me an email! I'm eager to collaborate and help bring your idea to life.
</p>
<p>Let's embark on this journey together!</p>
<p>email: svergara@samver.ca</p>
</div>