<h1>About samver</h1>
<img class="rounded float-left small-img" src="../../assets/img/about.JPG" />
<p>
  Hey there! My name is Sam Vergara, a guy that loves software development, but also works in 3D modelling, music, and digital art. I graduated from McMaster University with a Bachelor of Engineering specialized in Mechatronics Engineering, and I'm in constant search of future challenges!
</p>
<p>
During my spare time I enjoy designing and programming all sorts of software tools like small programs to automate small taks, or larger frameworks to streamline a development process. I like to take an active approach towards making tasks easier.
</p>
<p>
  I've had lots of personal projects that I'm proud of ranging from custom robots, digital art programs (like Adobe Illustrator), and useful everyday tools. A quick little tool I think would be useful to almost all Windows users is <a href="./TrayDir">TrayDir</a> (sorry Mac & Linux users)...
</p>
<p>
  Do you have a software idea and you're looking for someone to talk to about it? Shoot me an email! Let's figure it out together.
</p>
<p>
  That is all about me so far. If there's anything else you are curious about, feel free to contact me and ask!
</p>
<p>Cheers!</p>
<p>email: svergara@samver.ca</p>
